.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}
.feedback h2 {
  max-width: fit-content;
  color: rgb(190, 190, 248);

  letter-spacing: 3px;
}
.icon {
  color: rgb(127, 127, 246);
  font-size: 37px;
}

.feedback ul {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 40px;
  margin: 0;
  margin-bottom: 30px;
  max-width: fit-content;
  padding: 30px;
}
